#loading {
  margin: -68px 0 0 -68px; /* gif‰æ‘œ‚ğ‰æ–Ê’†‰›‚É */
  padding: 20px; /* gif‰æ‘œ‚ğ‰æ–Ê’†‰›‚É */
  position: fixed; /* gif‰æ‘œ‚ğƒXƒNƒ[ƒ‹‚³‚¹‚È‚¢ */
  left: 50%; /* gif‰æ‘œ‚ğ‰æ–Ê‰¡’†‰›‚Ö */
  top: 50%; /* gif‰æ‘œ‚ğ‰æ–Êc’†‰›‚Ö */
}

.hide {
  display: none;
}
